a {
  color: #00B7FF;
}

canvas {
  border: 1px solid black;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h3 {
  width: 300px;
}
.card {
  width: 302px;
}